{% extends 'base.html.twig' %}
{% block body %}
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{property['title']}}</h5>
    <p class="card-text">{{property['description']}}</p>
    <p class="card-text">{{property['price']}}</p>
    <p class="card-text">{{property['city']}}</p>
    <a href="{{path('app_home')}}" >home</a>
  </div>
</div>
{% endblock %}